.card {
    text-align: center;
    border: 3px solid black;
    width: 350px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: white;
    overflow: hidden;
}

.card img {
    width: 100%;
}

body {
    background-color: antiquewhite;
}

.card button {
    width: 60%;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
}
.card button:hover {
    background-color: rgb(67, 62, 62);
    color: white;
}

.navbar {
    text-align: center;
    border-bottom: 3px solid black;
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: white;
}

.navbar a {
    margin-left: 15px;
    text-decoration: none;
    color: grey;
}

.navbar a:hover {
    text-decoration: underline;
}
